:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.graph-button {
  border-radius: 9999px;
}

.graph-button:focus {
  outline: none;
}

.graph-button > g {
  transition: transform 1s;
  transform: scale(1);
  /* opacity: 0.75; */
}

.graph-button.active > g {
  /* opacity: 1; */
  transform: scale(var(--active-upscale));
}

.graph-button.clear circle {
  fill: #54b471;
}

.graph-button.related circle {
  fill: #f2ac3c;
}

.graph-button.editor circle {
  fill: #ed742e;
}

.graph-button image {
  /* mix-blend-mode: multiply; */
}

.graph {
  /* background-color: #fefefe; */
  /* border: solid 1px #f2f2f2;
  border-radius: 10px; */
  overflow: visible;
}

.graph-button.active {
  z-index: 2000;
}
